@import url('./dark-theme.css');  

body {
    background-color: rgb(245, 245, 245);
    color: rgb(41, 41, 41);
}

/* Navigation */

nav,
footer {
    background-color: #fff;
}

nav a,
.logo a,
li.item a,
.text-content_social-media-links a,
i.fab.fa-github, 
.footer-social-links a {
    color: rgb(65, 65, 65);
}

nav a:hover,
.logo a:hover,
li.item a:hover,
.text-content_social-media-links a:hover,
i.fab.fa-github:hover, 
.footer-social-links a:hover {
    color: black;
}

nav a:visited,
.logo a:visited.
li.item a:visited,
.text-content_social-media-links a:visited,
i.fab.fa-github:visited, 
.footer-social-links a:visited {
    color: rgb(41, 41, 41);
}

/* About Me */

.about-me .avatar {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

h1 {
    color: rgb(65, 65, 65);
}
h1:hover {
    color: black;
}
h1:after {
    background-color: rgb(65, 65, 65);
}
h1::after:hover {
    background-color: black;
}
h2 {
    color: rgb(65, 65, 65);
}

/* Main */

div.projects {
    background-color: rgb(245, 245, 245);
}
.projects:nth-child(odd) {
    background-color: rgba(245, 245, 245);
}
/* Button Dark Mode */
.dark-mode {
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 7px;
}

button#theme-toggle {
    font-size: 17px;
}
#theme-toggle{
    color: rgb(63, 63, 63);
    background-color: rgb(226, 226, 226);
    padding: 9px;
    box-shadow: 0px 5px 0px rgb(131, 129, 129), 0px 9px 12px rgba(0, 0, 0, .7);
    width: 180px;
    text-align: center;
    transition: all .3s ease;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: auto;
    transform: scale(0.9);
  }
  #theme-toggle:active {
    box-shadow: 0px 2px 0px rgba(31, 36, 78, 1), 0px 2px 4px rgba(0, 0, 0, .9);
    top: 6px;
    transform: scale(0.9) translateY(3px);
  }