@import url('./dark-theme.css');  

body {
    color: royalblue;
    background-color: lavender;
}

nav,
footer {
    background-color: pink;
}

nav a,
.text-content_social-media-links a, 
.footer-social-links a {
    color: purple;
}

h1 {
    color: yellow;
}

h1::after {
    background-color: yellow;
}

h2 {
    color: tomato;
}