@media(min-width: 768px) {
    /* >>>>>>> Header <<<<<<<< */
    
    /* Navigation */
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;

        justify-content: flex-end;
    }
    .menu .logo {
        margin-right: auto;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .toggle {
        display: none;
    }

    /* About Me */
    .about-me {
        /* flex-direction: row; */
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        display: grid;
        padding-top: 60px;
        padding-bottom: 60px;
        width: 95%;
        margin: auto;
    }
    h1 {
        margin-top: 0;
    }
    .about-me_text-content {
        width: 95%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .text-content_main {
        padding-bottom: 25px;
        font-size: 20px;
        letter-spacing: 1.1px;
    }
    .text-content_social-media-links {
        margin-bottom: 10px;
    }
    .text-content_social-media-links a{
        font-size: 40px;
        color: #1995ad;
        padding-left: 20px;
        padding-right: 20px;
        transition: transform .2s;
    }
    .text-content_social-media-links a i:hover {
        transform: scale(1.1);
    }

    /* >>>>>>> Projects Section <<<<<<<< */
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 5px;
        width: 95%;
        margin: auto;
    }
    .project-top {
        background-color: #1995ad;
    }
    .projects:nth-child(1) {
        background-color: #1995ad;
    }
    .projects:nth-child(2) {
        background-color: #1995ad;
    }
    .projects:nth-child(3) {
        background-color: #f1f1f2;
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* background-color: rgba(25,149,173, 0.1); */
    }
    .project-name {
        padding-bottom: 30px;
        font-size: 30px;
    }
    .project-name h2 {
        font-size: 30px;
    }
    .project-image img{
        width: 100%;
        border-radius: 10px;
        padding-bottom: 15px;
    }
    .project-description {
        width: 95%;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1.1px;
    }
}