/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    font-family: 'Lato', Arial, Helvetica;
    font-size: 16px;
}
nav {
    background: rgb(240, 240, 240);
    padding: 0 15px;
}
a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}
.menu {   
    list-style-type: none;
}
.name {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu .menu-name li a,
.menu .menu-items li a {
    display: block;
    padding: 15px 5px;
}
/* .menu li a {
    display: block;
    padding: 15px 5px;
} */
.menu-items .toggle {
    order: 1;
    font-size: 20px;
    background-color: black
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
