/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    color: rgb(52, 52, 52);
}

/* <<<<<<<< Header >>>>>>>> */

/* Navigation */
nav {
    background: transparent;
    padding: 0 15px;
}
a {
    color: rgb(52, 52, 52);
    text-decoration: none;
}
.menu {   
    list-style-type: none;
}
/* My Name */
.logo {
    font-size: 30px;
    padding: 7.5px 10px 7.5px 0;
}
.logo a {
    transition: .2s;
}
.logo a:hover {
    transform: scale(1.1);
    color: black;
}
.logo a:active {
    transform: scale(.9);
}
.logo a:visited {
    transform: scale(1);
}
/* --------- */
.item {
    padding: 10px;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 10px 5px;
}
/* hamburger menu */
.toggle {
    order: 1;
    font-size: 30px;
    transition: .2s;
}
.toggle:hover {
    transform: scale(1.2);
    color: black;
}
.toggle a:active {
    transform: scale(.9);
}
/* --------- */
.item.button {
    order: 2;
}
/* Navigation links */
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    font-size: 22px;
}
.item a {
    transition: .2s;
}
.item a:hover {
    transform: scale(1.1);
    color: black;
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}
.item a:active {
    transform: scale(.9);
}
/* --------- */
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}
